{% extends "layout.html" %}

{% block main_content %}
<h1>My Photography</h1>
<img src="{{ url_for('static', filename='images/photography/ArArea51Quasar9105underconstruction1.gif') }}">
<img src="{{ url_for('static', filename='images/photography/AtAthensAtrium4933underconstruction1.gif') }}">
<img src="{{ url_for('static', filename='images/photography/CoColosseumHoop5020underconstruction_blk.gif') }}">
<img src="{{ url_for('static', filename='images/photography/CoColosseumPressbox8851Construction-Bar-Line-1.gif') }}">
<img src="{{ url_for('static', filename='images/photography/EnEnchantedForestMountain6559Construction_3.gif') }}">
<img src="{{ url_for('static', filename='images/photography/HeHeartlandBluffs8237Photo_2000construction5_anim.gif') }}">
<img src="{{ url_for('static', filename='images/photography/Hollow7752Construction.gif') }}">
<img src="{{ url_for('static', filename='images/photography/arartist_etcani-graphicsMiscani_Construction-Bar-Rotates_smed.gif') }}">
<img src="{{ url_for('static', filename='images/photography/hotsprings3485underconstruction.gif') }}">
<img src="{{ url_for('static', filename='images/photography/mamagnolia_acresunderconstruction.gif') }}">
<p><strong>Just kidding!</strong></p>
<p><a href="https://www.flickr.com/photos/kylewpppd/" target="_blank">Check me out on Flickr.</a></p>
{% endblock %}
